global
    daemon
    maxconn 256
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    log global
    option tcplog

listen stats
    bind *:8080
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s

frontend vault
    bind *:8200
    mode tcp
    default_backend vault-backend

backend vault-backend
    mode tcp
    balance leastconn
    option httpchk GET /v1/sys/health
    http-check expect rstatus ^(200|473)$
    server vault-1 vault-1:8200 check check-ssl verify none inter 5s fall 3 rise 2
    server vault-2 vault-2:8200 check check-ssl verify none inter 5s fall 3 rise 2
    server vault-3 vault-3:8200 check check-ssl verify none inter 5s fall 3 rise 2
